<nav class="navbar bg-success-subtle text-success-emphasis" >


  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"></a></li>
            <li><a class="dropdown-item" href="#"></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Curriculum</a></li>
              <li><a class="dropdown-item" href="#">News</a></li>
                <li><a class="dropdown-item" href="#">Activities</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">About Us</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
 <div class="p-5">

 <div>
  <div class="text-center">
 <h1> Welcome to FreeCodeCamp</h1>
 <p>What you do speaks so loudly that I cannot hear what you say.<br>

Ralph Waldo Emerson

</div>

 <div class="card text-center">

  <div class="card-header">

  </div>

   <div class="text-center">
    <h5 class="card-title">Season's Greetings from the freeCodeCamp community 🎉

If you're getting a lot out of freeCodeCamp, now is a great time to donate to support our charity's mission.</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Donate</a>
  </div>
  <div class="card-footer text-body-secondary">
  </div>
</div>

<div class ="p-5">
<div>
<h1>Recommended curriculum (still in beta)</h1>
<p>If you were previously working through our Certified Full Stack Developer curriculum, don't worry - your progress is saved. We've split it into smaller certifications you can earn along your journey.


<div class="p-5">







  <div class="row align-items-end">
    <div class="col">
    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="col">
       <a href="https://x.com"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="col">
    <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>








<div class="p-5">






<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">

      <div class="card-body">

        <a href="https://www.google.com/search?client=opera&q=appstore&sourceid=opera&ie=UTF-8&oe=UTF-8" class="btn btn-white"><%= image_tag "brainstorm7.png" %></a>
        <a href="https://www.google.com/search?client=opera&q=googleplay+icon&sourceid=opera&ie=UTF-8&oe=UTF-8" class="btn btn-white"><%= image_tag "brainstorm8.png" %></a>
      </div>
    </div>
  </div>
  </div>



<div class="p-3 mb-2 bg-dark text-white">
  <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">

      <div class="card-body">
        <a href="https://juvilbrainstorm-398970c9d6e5.herokuapp.com" ><%= image_tag "brainstorm11.png" %></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">


      </div>
      </div>
